* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(241, 241, 241);
}


/*navbar*/

.navbar {
    padding: 1.3rem;
    background-color: red;
    img:hover {
        transition: all 300ms ease;
        transform: scale(1.12);
    }

    .navbar-collapse {
        align-items: center;
        justify-content: end;
    }

    .nav-link {
        font-family: 'Roboto', sans-serif;
        border: none;
        padding: 12px 30px;
        border-radius: 50px;
        font-size: 19px;
        font-weight: bold;
        margin-right: 20px;


        &:hover {
            background-color: rgb(236, 0, 0);
        }
    }
}


/*Index*/

main {
    padding-top: 80px;
    padding-bottom: 100px;
    margin-left: 15px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 14px;
    grid-template-areas: "titulo titulo primertexto primertexto primertextoiconos"
                         "titulo titulo segundotextoiconos segundotexto segundotexto"
                         "tercertexto tercertexto tercertextoiconos tercertextoiconos tercertextoiconos";
    


    .bi {
        font-size: 65px;
    }

    header {
        grid-area: titulo;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        
        grid-area: titulo;
        justify-self: center;
        align-self: center;
        font-family: 'Alata', sans-serif;
        font-weight: 700;
        font-size: 100px;
        text-align: end;
    }

    .primer-texto {
        grid-area: primertexto;
        align-self: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .primer-texto-iconos {
        grid-area: primertextoiconos;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .segundo-texto-iconos {
        grid-area: segundotextoiconos;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .segundo-texto {
        grid-area: segundotexto;
        align-self: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .tercer-texto {
        grid-area: tercertexto;
        align-self: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .tercer-texto-iconos {
        grid-area: tercertextoiconos;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
}


/*Galeria*/

.galeria-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    img {
        border: 3px solid black;
        box-shadow: 5px 6px 3px rgba(0, 0, 0, 0.25);
    }
}



/*Contacto*/

.form-container {
    margin-top: 50px;
    margin-bottom: 60px;
    
    legend {
        font-family: 'Roboto', sans-serif;
        font-size: 70px;
        margin-bottom: 30px;
    }

    .btn {
        font-family: 'Alata', sans-serif;
        margin-top: 30px;
        padding: 8px 30px 8px 30px;
        background-color: red;
        border-color: red;
        color: black;

        &:hover {
            background-color: rgb(245, 0, 0);
            box-shadow: 1px 1px 3px grey;
        }
        
        &:active {
            background-color: black;
            border-color: black;
        }
    }

    .bi {
        font-size: 40px;
    }
}


/*Travesias*/

.tr-card {

    transition: all 300ms ease;

    img{
        filter: grayscale(100%);
        transition: all 200ms ease;
    }

    &:hover {
        box-shadow: 3px 4px 9px grey;
        transform: scale(1.02);
        img {
            filter: grayscale(0%);
        }
    }
}

.tr-card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.tr-card-title {
    font-family: 'Alata', sans-serif;
    font-size: 30px;
}


/*Staff*/

.st-card {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.st-card-title {
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 20px;
}

.st-card-text {
    font-family: 'Roboto', sans-serif;
}

.st-container {
    margin-top: 60px;
    margin-bottom: 60px;
}


/*Error404*/
.error-container {
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-titulo {
    font-family: 'Alata', sans-serif;
    font-weight: 700;
    font-size: 100px;
}

.error-texto {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.error-boton {
    font-family: 'Alata', sans-serif;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 30px 10px 30px;
    border-radius: 0.5rem;
    background-color: red;
    border-color: red;
    color: black;

    &:hover {
        background-color: rgb(245, 0, 0);
        box-shadow: 1px 1px 3px grey;
    }
    
    &:active {
        background-color: black;
        border-color: black;
        color: white;
    }
}


/*Footer*/

footer {
    padding: 10px;
    background-color: black;

    .iconos-redes-sociales{
        
        a{
            padding-right: 30px;
            padding-left: 30px;
            transition: all 0.2s ease-in;
        }

        i{
            font-size: 50px;
            color: white;
            transition: all 0.2s ease-in;
        }

        i:hover{
            color: rgb(209, 209, 209);
        }
    }
}



/*Responsive*/
/*Navbar*/
@media screen and (max-width: 767px) {
    .navbar {
        width: 100%;
    }

    .form-container{
        
        legend {
            font-size: 55px;
        }
    }

}

/*Index*/

@media screen and (max-width: 1167px) {
    main {
    
    grid-template-areas: "titulo titulo primertexto primertexto primertextoiconos"
                         "segundotextoiconos segundotexto segundotexto segundotexto segundotexto"
                         "tercertexto tercertexto tercertextoiconos tercertextoiconos tercertextoiconos";
    
    .titulo {
        font-size: 80px;
    }
    }
}

@media screen and (max-width: 1085px) {
    main {
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo titulo titulo titulo"
                         "primertexto primertexto primertexto primertextoiconos primertextoiconos"
                         "segundotextoiconos segundotexto segundotexto segundotexto segundotexto"
                         "tercertexto tercertexto tercertextoiconos tercertextoiconos tercertextoiconos";
    
    .titulo {
        font-size: 100px;
    }
    }
}

@media screen and (max-width: 950px) {
    main {
    
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "titulo titulo titulo titulo titulo"
                             "primertexto primertexto primertexto primertextoiconos primertextoiconos"
                             "segundotextoiconos segundotextoiconos segundotexto segundotexto segundotexto"
                             "tercertexto tercertexto tercertexto tercertexto tercertexto"
                             "tercertextoiconos tercertextoiconos tercertextoiconos tercertextoiconos tercertextoiconos";
    
    .titulo {
        padding-bottom: 30px;
    }
    }
}

@media screen and (max-width: 600px) {
    main {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100px 1fr 100px 1fr 100px 350px;
        grid-template-areas: "titulo"
                             "primertextoiconos"
                             "primertexto"
                             "segundotextoiconos"
                             "segundotexto"
                             "tercertextoiconos"
                             "tercertexto";
    
    .titulo {
        padding-bottom: 55px;
        font-size: 70px;
    }
    }
}

/*Error404*/
@media screen and (max-width: 550px) {
    .error-titulo {
        font-size: 70px;
    }

    .error-container {
        height: 900px;
    }
}

@media screen and (max-width: 400px) {
    .error-titulo{
        text-align: center;
    }
}